NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC39DdzRka-RppoiDnxTInkbZiatGrBgos
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ai-code-plat.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ai-code-plat
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ai-code-plat.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=419391079663
NEXT_PUBLIC_FIREBASE_APP_ID=1:419391079663:web:57fe191dc2a08590f7c71a
